html, body {
	width: 420px;
}

.option {
	margin-top: 0.9rem;
	margin-bottom: 0.9rem;
}

table { 
	width: 100%;
}

select {
	width: 100%;
}

.pull-right-button { 
	text-align: right;
}

.full-width {
	width: 100%;
}
